<template>
    <div class="card card-solid">
        <div class="card-header">
            <!--Select per_page-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4"></label>
                    <select @change="changeRange($event)" class="form-control form-control-sm">
                        <option v-for="e in rangesPages" :value="e">{{e}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                <contact v-for="e in user_list" :key="e.id"></contact>
            </div>
        </div>
        <div class="card-footer">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li v-bind:class="{'disabled' : ! (this.paginate.current_page > 1)}" class="page-item">
                        <a @click.prevent="changePage(paginate.current_page - 1)" class="page-link" href="#">Anterior</a>
                    </li>
                    <li v-for="page in pagesNumber" v-bind:class="[page == isActive? 'active':'']" class="page-item">
                        <a @click.prevent="changePage(page)" class="page-link" href="#">{{page}}</a>
                    </li>
                    <li v-bind:class="{'disabled' : ! (this.paginate.current_page < this.paginate.last_page)}" class="page-item">
                        <a @click.prevent="changePage(paginate.current_page + 1)" class="page-link" href="#">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>
