<div class="row">
    <div class="col-md-6">
        <div style="max-height: 400px;overflow-y: auto;">
            <div  class="bg-light border-bottom rounded-left p-1 p-md-3" v-for="e of categories" @click="selectCategory(e)" v-bind:class="[ref_cat_selected.id == e.id?'active':'','actable-item']">
            @{{e.name}}
            </div>

            
        </div>

        <div class="input-group" v-if="creating_category">
            <input type="text" name="message" 
            v-model="category_insert"
            placeholder="Nombre de nueva categoría" 
            maxlength="50" minlength="1" class="form-control">
            <span class="input-group-append">
                <button type="button" @click="storeCategory" class="btn btn-primary">Agregar</button>
            </span>
            <span class="input-group-append">
                <button type="button" class="btn btn-danger" @click="creating_category = false">Cancelar</button>
            </span>
        </div>

        <button type="button" v-if="!creating_category" @click="creating_category = true" class="btn btn-block btn-outline-success btn-flat">+ Agregar Categoria</button>
    </div>
    <div class="col-md-6">
        <div class="d-flex justify-content-center" v-if="pnl_wait1">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <h3 class="text-center mcgeneric">Imagen de presentación</h3>
        <div class="preview-img text-center"
            style="width: 100%; max-width: 300px; margin: auto;" v-if="!pnl_wait1">
            <div class="p-2 border">
                <img id="imgCurrentPresentation" class="d-block" :src="ref_cat_selected.img_presentation" alt="Photo"
                    style="width: 100%; border-radius: 50%; border: 3px solid #343a40;">
            </div>

            <button @click="openModalTrim" class="btn btn-block btn-dark" id="btn_update_img_presentation">Subir Imagen</button>
        </div>

        <h5 class="mb-2 mt-3 text-center">Etiquetas/Rubros <small><i>(Los nuevos usuarios podrán seleccionar cualquiera de estas etiquetas)</i></small></h5>
        <div class="tags mt-2 text-center">
            <span v-if="!creating_tag && ref_cat_selected !=null " class="ac-tag">
                <a href="javascript:void(0);" v-on:click="creating_tag = true">+ Nuevo</a>
            </span>
            <span class="ac-tag" v-else>
                <input type="text" maxlength="25" minlength="4" v-model="tag_insert">
                <i v-on:click="storeTag" class="fas fa-save icon"></i>
                <i v-on:click="tag_insert = '';creating_tag = false;" class="fas fa-times icon"></i>
            </span>                                
            <tag-rubro v-for="(e,index) of tags" :key="e.id" @delete="deleteTag(index)" :tag="e"></tag-rubro>
        </div>
    </div>
</div>