.bg-tenue-ac{
    background-color: #fbfbfb;
}


.dark-mode-ac {
    background-color: #454d55 !important;
    color: #fff;
}

.dark-mode-ac .card {
    background-color: #343a40;
    color: #fff;
}

.dark-mode-ac .card .card-footer {
    background-color: rgba(0,0,0,.1);
}

.dark-mode-ac .bg-tenue-ac{
    background-color: #4e5760
}

.dark-mode-ac .unique-section .text-section{
    color: #fff;
}

.dark-mode-ac .unique-section .avatarArt{
    border: 3px solid #343333;    
}


.dark-mode-ac .hSectionW {
    color: #02d670 !important;
}

.dark-mode-ac .lead{
    color: white;
}