// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$otro: #20B7EB;


//Colores Observatorio Custom 
$green-ac: #49b591;
$dark-blue-ac: #2c3749;
$dark-blue-ac2: #31333f;
$tenue-gray-ac: #e9ecef;
$white-ac: #edeef2;
$gray1: #f4f6f5;
$gray2: #b7bcc0;
$gray3: #8b909b;
$gray4: #d2d6de;
$yellow2: #e3a542;
$red2: #c74b49;
$blue2-tenue: #d5eaff;
$blue2: #4c98ee;
$green3-tenue: #c4e8a0;
$green3: #8bbf5a;
$cyan2: #d0f4f4;
$cyan2-dark: #61989b;
$purple2-tenue: #f1ccdd;
$purple2: #a8537a;

$acEmerald: #00cd6a;
$acNeph: #00b05c;//AC green 
$acAliza: #ff4b3a;
$acPink: #e83e8c;
