.ad-popular-pe:hover{
	cursor: pointer;
	background-color: #f2f4f6 !important;
}


.bg-hpolis{background-color: #2c3749 !important;}
.text-hpolis{color: #49b591 !important;}
.text-hpolis:hover{
    color: white !important;
}
