/*Styles for Dev3 (Poca)*/

.classac-555 {
  color: red;
}

/*Styles for Dev2 (Nelson)*/

.classac-777 {
  color: red;
}

.container-img-hscroll {
  text-align: center;
  overflow-x: auto;
  -ms-overflow-x: auto;
  background-color: #f4f6f5;
  display: flex;
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  justify-content: center;
}

.circular-acimg {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background-position: center;
  border: 2px solid #8bbf5a;
  background-color: dodgerblue;
  margin: 0.2rem;
}

.circular-acimg:hover {
  border: 2px solid #f4f6f5;
  cursor: pointer;
}

.circular-acimg.selected {
  border: 2px solid #f4f6f5;
}

.actable-item.active,
.actable-item:hover {
  font-size: 1.3rem;
  font-weight: bold;
  color: #c74b49;
  cursor: pointer;
}

.ac-tag {
  background-color: #f8f9fa;
  border-color: #ddd;
  color: #444;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-right: 10px;
  display: inline-block;
  margin-top: 10px;
}

.ac-tag .icon {
  display: inline-block;
  margin-left: 5px;
  color: #444;
}

.ac-tag .icon:hover {
  cursor: pointer;
  color: gray;
}

.ac-tag input[type=text] {
  background-color: #f8f9fa;
  border: 0px;
}

.unique-section {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unique-section:hover {
  cursor: pointer;
}

.unique-section:hover .avatarArt {
  border: 2px solid #2c3749;
}

.unique-section:hover .text-section {
  color: #2c3749;
  text-decoration: underline;
}

.unique-section .avatarArt {
  border: 3px solid white;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.unique-section .text-section {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600px;
  color: #686868;
}

.profile-userimg-hover {
  cursor: pointer;
  border-radius: 50%;
  width: 100px;
  max-width: 100%;
  height: 100px;
  color: transparent;
  background-color: red;
  margin: 0 auto;
}

.profile-pic {
  height: 150px !important;
  width: 150px !important;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  color: #fafafa;
  transition: all 0.3s ease;
}

._acEmeraldTx {
  color: #00cd6a;
}

._acNephTx {
  color: #00b05c;
}

._acAlizaTx {
  color: #ff4b3a;
}

._acEmeraldBg {
  background-color: #00cd6a;
}

._acNephBg {
  background-color: #00b05c;
}

._acAlizaBg {
  background-color: #ff4b3a;
}

.edit-pencial {
  background-color: #868480;
  cursor: pointer;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 0.5rem;
  color: #fff;
}

/*Spinner Custom*/

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00cd6a;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.usTagProfile {
  padding: 0px 4px;
  display: inline-block;
  border-radius: 5px;
  margin: 2px;
}

.usTagProfile .iconDel {
  display: none;
  cursor: pointer;
}

.usTagProfile:hover .iconDel {
  display: inline;
}

.btnOptionsPreMedia {
  background-color: #00cd6a;
}

._acHoverA:hover {
  background-color: #6c757d !important;
  color: #ffffff !important;
  cursor: pointer;
}

.ad-popular-pe:hover {
  cursor: pointer;
  background-color: #f2f4f6 !important;
}

.bg-hpolis {
  background-color: #2c3749 !important;
}

.text-hpolis {
  color: #d4cece !important;
}

.text-hpolis:hover {
  color: white !important;
}

.nav-pills .nav-link.active {
  color: white !important;
}

.ac-edit-about {
  color: #c1bdbd;
  font-size: 120%;
  cursor: pointer;
}

.val-about:hover .ac-edit-about,
.ac-edit-about:hover {
  color: #34c558;
  font-size: 120%;
}

